.ivu-divider-horizontal, .ivu-row {
    margin-bottom: 12px;
}
.el-table th {  background-color: #f8f8f9;color:#515a6e;} 
.el-table td, .el-table th { padding: 3px 0;}
.el-table .el-table__row td {padding: 6px 0;}
.searchcon {padding-left:24px;padding-right:24px;padding-top:12px;padding-bottom:24px;background: #fff;}
.rowtocol .ivu-col {margin-top:12px;}
.fgline{padding-bottom: 12px;}